
.card-img-top {
    width: 100%;
}

.card{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.card-title{

    color: black;
    font-size: 200%;
    font-weight: bold;
    text-transform: capitalize;
}

.card-subtitle{
    color: darkslateblue;
    margin-bottom: 2%;
    margin-top: 1%;
}

.author{
    font-weight: bold;
    font-size: larger;
    text-transform: none;
}

.card-text{
    color: black;
    margin-bottom: 2%;
}

#keywords{
    color: teal;
}

.avatar{
    width: 20%;
}

.username{
    margin-left: 5%;
}

.registerDate{
    margin-left: 25%;
    margin-top: -7%;
}

.username{
    text-transform: lowercase;
}

.login{
    color: white;
}

.imagePicker{
    width: 100%;
}

.buttonPicker{
    background-color: white; /* Green */
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:60px;
    height:60px;
}

#publication{
    margin-left: 25%;
}

.cardSelected{
    width: 60%;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 20%;
}

.cardButton{
    margin-bottom: 20%;
    margin-left: 10%;
    margin-top: 10%;
}

.avatarSelected{
    width: 20%;
    margin-left: -25%;
    margin-top: -2%;
    margin-bottom: -10%;
}

.commentAuthor{
    font-size: large;
}

.commentText{
    color: black;
    text-transform: inherit;

}

.editButton{
    margin-left: 17%;
    margin-top: 10%;
}

.pagination{
    justify-content: center;
}

.expelButton{
    margin-left: 6%;
    margin-top: 5%;
    margin-bottom: 10%;


}

.userAvatar{
    margin-right: -15%;
}

.userImg{
    width: 50%;
    margin-top: -2%;
    margin-bottom: 7%;
    margin-left: 9%;
}

.selectRole{
    height: 3em;
}

.userId{
    margin-top: 10%;
}

.selectBan{
    margin-top: 3%;
}